{% extends 'layout.html' %}

{% block body %}
     <!-- Main jumbotron for a primary marketing message or call to action -->
     <br><br><br>
      <div class="jumbotron text-center">
          <h1>Welcome To Wilfred Katuka Website</h1>

          <p class="lead">"This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          {% if session.logged_in == NULL %}
          <a href="/register" class="btn btn-primary btn-lg">Register</a>
          <a href="/login" class="btn btn-success btn-lg">Login</a>

          {% endif %}

{% endblock %}